
$textcolor1: #58402C; // marrone
$signupcolor: #30488F; //blu

$sectionBack: #FFE7D2; // rosa

$totalwidth: 100%;
$imageWidth1: 140px;

$iconHight: 18px;

@mixin flexcenter{

  display: flex;
  align-items: center;
}
