

section.hero{


  width: $totalwidth;
  margin: 100px 0;

  .container {

    display: flex;
    justify-content: space-around;

    >*{

      padding: 10px;
    }
  }

  .left{

    >*{

      margin-bottom:40px;
    }

    h1{
      font-size: 50px;
      font-weight: 600;
      line-height: 60px;

    }

    p{
      font-size: 22px;
    }

    div{

      @include flexcenter;

      .button{

        @include signupButtons;

      }

      span{

        opacity: 0.5;

      }
    }

    a{

      font-size: 14px;
      transition: color 0.3s ease;

      &:hover{

        color: #30488f;

        .fas{
          color: #30488f;

        }
      }
    }
  }

  .right{

    img{

      width: 570px;
    }

  }

}
