
@mixin signupButtons{

  @include flexcenter;
  background-color: $signupcolor;
  transition: background-color 0.3s ease;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  margin: 0 10px;
  font-size:  14px;
  cursor:pointer;

  &:hover{

    background-color: darken( $signupcolor, 20%)
  }
}

@import "hero";
@import "comparing"
